@model IEnumerable<RedditClone.Models.RedditPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}



@foreach (var item in Model) {
    <div class="row">
        <div class="col-xs-2">
            @{ 
                var count = item.Upvotes - item.Downvotes;
            }
            <div>@count</div>
        </div>
        <div class="col-xs-10">
            @Html.DisplayFor(modelItem => item.Title)
            @Html.DisplayFor(modelItem => item.Body)
            @Html.DisplayFor(modelItem => item.Poster.Email)


        </div>
    </div>
}

</table>
